body {
  font-size: 14pt;
  background-color: #FAF9F9;
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: Verdana, sans-serif;
}


#container {
  width: 100%;
  height: 1220px;
  opacity: 0.8;
}

#content {
  width: 70%;
  height: 1160px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  background-color: white;
  opacity: 0.9;
}
#announcement {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  border: 1px solid grey;
  box-shadow: 2px 2px lightgrey;
  overflow: hidden;
}
.title-box {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background-color: #4286f4;

}
#mid-row {
  width: 100;
  height: 300px;
  margin-bottom: 20px;
}
#calendar {
  width: 49%;
  height: 300px;
  border: 2px solid grey;
  box-shadow: 2px 2px lightgrey;
  float: left;
  margin-bottom: 20px;
}
#cal-mid {
  margin: 0 auto;
  padding: 0 10% 10% 10%;
  width: 90%;
  height: 70%;
}
#cal-mid p {
  color: red;
/*  font-size: 14pt;*/
  overflow: auto;
  
}
#news {
  width: 49%;
  height: 300px;
  border: 2px solid grey;
  box-shadow: 2px 2px lightgrey;
  float: right;
  margin-bottom: 20px;
}
#newsimg {
  padding-left: 10px;
  height: auto;
  opacity: 1;
  float: left;
}
#newscontent {
  margin: 0px;
  padding: 0px;
}
#quick-massage {
  width: 100%;
  height: 250px;
  border: 2px solid grey;
  box-shadow: 2px 2px lightgrey;
  margin-bottom: 20px;
}
.title-text {
  width: 45%;
  height: auto;
  float: left;
  font-weight: bold;
  font-size: 16pt;
  margin: 0px 0px 10px 10px;
}
.title-text p{
  margin: 8px 5px 5px 5px;
}
.more {
  width: 10%;
  height: auto;
  float: right;
  color: lightgrey;
  margin: 0px;
  padding-right: 15px;
  text-align: right;
  cursor: pointer;
}
.more p {
  margin: 10px 5px 5px 5px;
}
.more:hover {
  color: yellow;
}
* {
    box-sizing: border-box;
}


input[type=text], select, textarea {
    width: 100%;
    margin-left: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


label {
    padding: 0px;
    margin-left: 10px;
    display: inline-block;
    float: left;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col1 {
    float: left;
    width: 25%;
    margin-bottom: 6px;
}

.col2 {
    float: left;
    width: 75%;
    margin-bottom: 6px;
}
.row {
  padding-right: 30px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    
}

@media screen and (max-width: 800px) {

        * { font-size: 0.9rem; }
}

@media screen and (max-width: 590px) {
  #calendar {
    width: 100%;
    
  }
  #news {
    display: none;
  }
}
