body {
  font-size: 14pt;
  background-color: #FAF9F9;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#container {
  width: 100%;
  height: 1220px;
  opacity: 0.8;
}
#content {
  width: 70%;
  height: 1160px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  overflow: hidden;
}

.galleryItem {
  background: white;
  text-align: left;
  float: left;
  width: 30%;
  height: 200px;
  border: 1px solid;
  margin:  0 1% 2% 2%;
}
.msghead {
  width: 100%;
  height: 40px;
  background-color: #4488ee;
  box-shadow: 0 0 2px 0 #3c485b;
  margin: 0px;
}
.headtext {
  width: 70%;
  margin: 0px;
/*  padding: 2% 1% 1% 1%;*/
  overflow: hidden;
  float: left;
}
.headbtn {
  width: 25%;
  margin: 0px;
  padding-right: 0px;
  float: right;
  padding-top: 2%;
}
.headtext h3 {
  margin: 0px;
  padding: 2% 1% 1% 1%;
  overflow: hidden;
}

.galleryItem p {
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  overflow: hidden;
}


.galleryItem img {
  max-width: 100%;
  display: block;
  padding: 1em 0em 0em 0em;
  margin-left: auto;
  margin-right: auto;
}
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    top: 10px;
    height: 70vh;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 800px) {

  * { font-size: 0.9rem; }
  
  .galleryItem {
  width: 45%;
  height: 200px;
}
}